@import "../../../color/color";

.partTwo {

    width: 50%;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;

    section {
        font-size: 15px;
        color: $thirdColor;
        padding-top: 7rem;
    }

}
