@import "../../../color/color";

.partOne {

    width: 50%;
    padding-top: 6rem;
    padding-bottom: 6rem;

    &_elements {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &_name {
        font-size: 48px;
        font-weight: 500;
    }

    &_job {
        font-size: 20px;
        font-weight: 500;
    }

    &_shortPresentation {
        font-size: 15px;
        font-weight: 300;
        margin: 16px 0 0;
        max-width: 20rem;
        color: $thirdColor;
    }

    button {

        margin-top: 3rem;
        color: $secondColor;
        padding: 20px;
        border: 2px solid $fourthColor;
        border-radius: 25px;
        cursor: pointer;

    }

    button:hover {

        color: $fourthColor;
        border: 2px solid $thirdColor;
        transition-duration: .15s;

    }

}
