@import '../../color/color.scss';

footer {

    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 125px;

    .footerOne {

        display: flex;
        justify-content: flex-end;

        p {

            font-size: 13px;
            color: $thirdColor;
            margin-bottom: 20px;

            a {

                color: $secondColor;
                font-size: 14px;

            }

        }

    }

    .footerTwo {

        display: flex;
        justify-content: end;

        img {

            width: 130px;

        }

    }

}
